/*GLOBALES */
*{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

:root{
    --blanco: #FFFFFF;
    --negro: #000000;
    --text-verde: #6c9023;
    --text-naranja: #ef4000;
    --btn-verde: #03bf77;
    --btn-naranja: #d53f04;
    --fondo-gris: #708090;
}

h1{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2.8rem;
}

h2{
    text-transform: capitalize;
    font-weight: 800;
    font-size: 2.5rem;
}

h3{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2rem; 
}

p{
    font-weight: 400;
    font-size: 1.1rem;
}

.contenedor{
    max-width: 91%;
    margin: 0 auto;
    text-align: center;
}

img{
    max-width: 100%;
}

/**UTILIDADES**/
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.boton{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    font-size: 1.8rem;
    outline: none;
    border: 0;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    padding: 1rem 3rem;
    position: relative;
}

.boton-naranja{
    background: var(--btn-naranja);
    color: var(--blanco);
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.boton-verde{
    background: var(--btn-verde);
    color: var(--blanco);
    margin-top: 3rem;
}

.contenido-centrado{
    max-width: 800px;
}

/*HEADER*/

.cabecera{
    background: url(/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.barraMenu{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
}

.cabecera-menu a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 1rem;
}

.cabecera-menu a:hover{
    color: var(--text-naranja);
    font-weight: 700;
}

.cabecera-menu a:last-of-type{
    margin: 0;
}

.cabecera_parrafo{
    color: var(--blanco);
    padding-top: 600px;
    font-size: 3.1rem;
    width: 900px;
    margin-left: 300px;
}

/*MÃS SOBRE NOSOTROS*/

.sobreNosotros_cards{
    display: flex;
    justify-content: space-between;
}

.icono_cards{
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

/*CASAS Y DPTOS EN VENTA*/

.contenedorSeccionVtas{
    display: flex;
}

.anuncio{
    background: #f5f5f5;
    border: 2px solid lightgrey;
    border-radius: 15px;
    flex-basis: calc(33.33% - 1rem);
    margin: 5px;
}

.anuncio .seccionVentas_cards__img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.anuncio .seccionVentas_cards__descripcion{
    text-align: left;
    padding: 0 2rem;
    font-size: 1.3rem;
}

.seccionVentas_cards__precio{
    color: var(--text-verde);
    font-size: 2rem;
    font-weight: 800;
    text-align: left;
    padding-left: 2rem;
}

.seccionVentas_cards__icono{
    list-style: none;
    display: flex;
    margin-left: 2rem;
    max-width: 500px;
    flex: 1;
}

.seccionVentas_cards__icono li{
    display: flex;
    flex: 1;
}

.seccionVentas_cards__icono li img{
    margin-right: 2rem;
}

.verTodas{
    display: flex;
    justify-content: flex-end;
}

/** CONTACTO HOME **/

.imagen-contacto{
    background: url(../img/encuentra.jpg);
    height: 400px;
    background-position: center center;
    background-size: cover;
}

.contactoPrincipal_titulo{
    color: var(--blanco);
    text-transform: none;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    padding-top: 7rem;
}

.contactoPrincipal_descripcion{
    color: var(--blanco);
    text-align: left;
}

/** BLOG Y TESTIMONIALES **/

.seccion-inferior{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.seccion-inferior .blog{
    flex-basis: 60%;
    text-align: left;
}

.seccion-inferior .blog a{
    text-decoration: none;
    color: var(--negro);
}
.seccion-inferior .blog a:hover{
    color: var(--text-naranja);
}

.seccion-inferior .blog h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}

.seccion-inferior .testimoniales{
    flex-basis: calc(40% - 2rem);
}

.entrada-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.entrada-blog:last-of-type{
    margin-bottom: 0;
}

.entrada-blog img{
    border-radius: 7px;
    /* eje-x | eje-y | blur-radius | color ----- -->Esto es una de las formas en que se aplica el sombreado detras de una imagen u objeto*/
    box-shadow: 10px 6px 15px rgb(161, 161, 161);
}

.entrada-blog .imagen-blog{
    flex-basis: 60%;
}

.entrada-blog .texto-blog{
    flex-basis: calc(60% - 3rem);
    padding-left: 2rem;
}

.texto-blog h4{
    font-size: 2rem;
    margin: 0;
    line-height: 1.4;
}

.texto-blog a{
    color: var(--negro);
    text-decoration: none;
}

.texto-blog a::after{
    content: '';
    display: block;
    width: 150px;
    height: .5rem;
    background-color: var(--text-verde);
}

.texto-blog a:hover{
    color: var(--text-naranja);
}

.entrada-blog p{
    font-weight: 600;
    font-size: 1.2rem;
}

.entrada-blog em{
    color: var(--text-naranja);
    font-style: normal;
}

/** TESTIMONIAL **/

.testimoniales h3{
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
}

.testimonial{
    border-radius: 17px;
    background-color: var(--text-naranja);
    color: var(--blanco);
    font-weight: 600;
    font-size: 2.4rem;
    padding: 2rem;
    text-align: left;
    margin-left: 2rem;
    box-shadow: 10px 6px 15px rgb(161, 161, 161);
}

.testimonial p{
    font-size: 1.7rem;
    text-align: right;
    font-weight: 600;
    padding-right: 2rem;
}


/** FOOTER **/

.index-footer{
    background-color: var(--fondo-gris);
    background-size: cover;
    margin: 3rem 0;
    padding: 3rem;
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: var(--blanco);
}

.contenedor-navegacion a{
    margin-right: 1.5rem;
    text-decoration: none;
    color: var(--blanco);
}

.contenedor-navegacion a:hover{
    color: var(--btn-naranja);
    font-weight: 700;
}

/** --------------- PAGINA INTERNAS ----------------**/

.cabeceraContenedor{
    background-color: var(--fondo-gris);
}

.barra-menuNosotros{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
    margin: 0 4rem;
}

.barra-menuNosotros a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.25rem;
    margin-right: 1rem;
}

.barra-menuNosotros a:hover{
    color: var(--text-naranja);
    font-weight: 700;
}

.conoce-sobreNosotros h1{
    text-align: center;
}

.contenido-nosotros{
    display: flex;
    justify-content: space-between;
}

.imagen-nosotros{
    width: 150%;
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}

.texto-nosotros{
    text-align: left;
}

/** ------------ SECCION ANUNCIO -------------- **/

.resumen-propiedad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-anuncioPropiedad{
    text-align: left;
    line-height: 2;
}

/** SECCION BLOG CONSEJOS **/

.texto-blog{
    text-align: left;
}

.texto-blog em{
    color: var(--text-naranja);
    font-style: normal;
}

.texto-blog p{
    font-weight: 600;
}


/** CONTACTO **/

form{
    text-align: left;
}

legend{
    font-weight: 800;
    font-size:1.5rem;
}

label{
    display: block;
    font-weight: 600;
}

input:not([type="submit"]), textarea{
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 95%;
}

select{
    
    appearance: none;
}

textarea{
    height: 20rem;
}